.galery {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 17.6rem);
    gap: 0.4rem;

    grid-template-areas:
      'item1 item3 item5'
      'item1 item3 item5'
      'item1 item3 item6'
      'item1 item4 item6'
      'item2 item4 item7'
      'item2 item4 item7';
  }

  &__item {
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

.item7 {
  grid-area: item7;
}
