.museum {
  &__inner {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: repeat(6, 227px);

    grid-template-areas:
      '... item2'
      'item1 item2'
      'item1 item2'
      'item1 item2'
      'item3 item4'
      'item3 item5';
  }

  &__title {
    grid-row: span 2;
    display: flex;
    align-items: center;
    max-width: 55.6rem;
    width: 100%;
    font-family: 'Bellefair';
    font-size: 10.8rem;
    text-transform: uppercase;
  }

  &__img {
    grid-column: 2 / 3;
    grid-row-start: 1;
    grid-row-end: 3;
    max-width: 73.5rem;
    width: 100%;
    max-height: 87.5rem;
    height: 100%;
  }

  &__text > p {
    max-width: 44.2rem;
    width: 100%;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 1.4;
  }

  &__text--second > p {
    max-width: 81rem;
    width: 100%;
    font-family: 'Poppins';
    font-size: 2.4rem;
    line-height: 1.6;
    font-weight: 300;
  }

  &__link {
    grid-column: 2;
    font-family: 'Bellefair';
    font-size: 3.3rem;
    text-transform: uppercase;
    position: relative;
    padding: 4.2rem;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      z-index: -1;
      background-color: var(--ashen-gray);
    }
  }
}

.museum__item1 {
  grid-area: item1;
}
.museum__item2 {
  grid-area: item2;
}
.museum__item3 {
  grid-area: item3;
}
.museum__item4 {
  grid-area: item4;
}
.museum__item5 {
  grid-area: item5;
}
