<li class="swiper-slide @card-eventsClass">

  <article class="card-events" style="background-image: url('@card-eventsUrl');">

    <span class="card-events__number">
      @card-eventsNumber
    </span>

    <div class="card-events__inner">

      <h3 class="card-events__subtitle">
        @card-eventsSubtitle
      </h3>

      <time class="card-events__date" datetime="2024-09-08T08:00Z">
        @card-eventsDate
      </time>

      <span class="card-events__text">
        @card-eventsText
      </span>

    </div>

    <div class="card-events__wrapper">

      <a class="card-events__link link" href="#">
        Know More
      </a>

      <a class="card-events__book" href="#">
        Book Ticket
      </a>

    </div>

  </article>

</li>