<header class="header" id="header">
  <div class="container">
    <nav class="menu">

      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#">
            home
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            events
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            gallery
          </a>
        </li>
      </ul>

      <a class="logo" href="#">
        <img class="logo__img" src="./assets/icons/logo.svg" alt="museum logo" width="36" height="46">
        <span class="logo__text">uxmcs museum</span>
      </a>

      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#">
            updates
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            history
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            contact
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>