<header class="header" id="header">

  <div class="container">

    <nav class="menu">

      <ul class="menu__list">

        <li class="menu__item">
          <a class="menu__link link" href="#">
            home
          </a>
        </li>

        <li class="menu__item">
          <a class="menu__link link" href="#museum">
            history
          </a>
        </li>

        <li class="menu__item">
          <a class="menu__link link" href="#events">
            events
          </a>
        </li>

      </ul>

      <a class="logo" href="#header">

        <img class="logo__img" src="./assets/icons/logo.svg" alt="museum logo" width="36" height="46">

        <span class="logo__text">
          Stone
          <span class="logo__text--down">
            Essence
          </span>
        </span>

      </a>

      <ul class="menu__list">

        <li class="menu__item">
          <a class="menu__link link" href="#gallery">
            gallery
          </a>
        </li>

        <li class="menu__item">
          <a class="menu__link link" href="#info">
            updates
          </a>
        </li>

        <li class="menu__item">
          <a class="menu__link link" href="#footer">
            contact
          </a>
        </li>

      </ul>

      @include('../mobile-menu/_mobile-menu.html')

    </nav>

  </div>

</header>