.header {
  padding: 5rem 0;

  &__logo {
    position: absolute;
    bottom: 0;
    top: 0.2rem;

    @include r($r-md) {
      left: 2rem;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;

  @include r($r-md) {
    justify-content: flex-end;
    padding: 0 2rem;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.6rem;
    width: 100%;

    @include r($r-md) {
      display: none;
    }
  }

  &__item:nth-child(3) {
    margin-right: auto;
  }

  &__item:nth-child(4) {
    margin-left: auto;
  }

  &__link {
    padding: 0.2rem;
    text-transform: uppercase;
  }
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}