.header {
  padding: 2rem 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;

  &__list {
    display: flex;
    gap: 3.6rem;
  }

  &__link {
    padding: 0.2rem;
    text-transform: uppercase;
    outline: 2px solid transparent;
    transition: color 0.4s, outline-color 0.4s;

    &:hover {
      color: var(--silver-gray);
    }

    &:focus {
      color: var(--slate-gray);
    }

    &:active {
      outline-color: var(--ash-gray);
    }
  }
}