.events {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.4rem;
  }

  &__title {
    font-size: 7.2rem;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: var(--medium-gray);
      height: 1px;
      width: 100%;
      left: 0;
    }

    &::before {
      max-width: 73rem;
      bottom: -2.2rem;
    }

    &::after {
      max-width: 19rem;
      top: -1.4rem;
    }

    @include r($r-md) {
      font-size: 5rem;
    }
  }

  &__link {
    font-size: 2.2rem;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1px solid var(--pure-white);
    transition: box-shadow 0.5s, background-color 0.5s, border-color 0.5s, transform 0.5s, color 0.5s;

    &:hover {
      transform: scale(1.2);
      box-shadow: 0 0 10px var(--pure-white);
    }

    &:focus {
      background-color: var(--graphite);
      border-color: var(--medium-gray);
    }

    &:active {
      color: var(--dusty-white);
      background-color: var(--graphite);
      border-color: var(--slate-gray);
    }

    @include r($r-md) {
      font-size: 1.8rem;
    }
  }

  &__wrapper {
    margin-bottom: 4rem;
  }
}