<li class="slides swiper-slide">

  <article class="slides__card">

    <span class="slides__number">
      @slidesNumber
    </span>

    <div class="slides__inner">

      <h3 class="slides__subtitle">
        @slidesSubtitle
      </h3>

      <time class="slides__date" datetime="2024-09-08T08:00Z">
        @slidesDate
      </time>

      <div class="slides__text">
        @slidesText
      </div>

    </div>

    <div class="slides__wrapper">

      <a class="slides__link" href="#">
        Know More
      </a>

      <a class="slides__book" href="#">
        Book Ticket
      </a>
    </div>

  </article>

</li>