@mixin line-clamp($lines: 1) {
    @if $lines <=1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @else {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
    }
}

// .class {
//     font-size: 14px;
//     @include line-clamp(3);
// }

@mixin r($width) {
    @media (max-width: #{$width}px) {
        @content;
    }
}

@mixin fontFamily($fontName) {
    font-family: #{$fontName},
    Arial,
    Tahoma,
    sans-serif;
}

// @include fontFamily('');

@mixin bg-image($image-path, $bg-size) {
    background-image: url($image-path);
    background-position: center;
    background-size: $bg-size;
    background-repeat: no-repeat;
}

@mixin custom-scrollbar($width: 0.8, $height: 0.8, $bdrs: 1, $backgroundColor: var(--jet-black)) {
    &::-webkit-scrollbar {
        width: #{$width}rem;
        height: #{$height}rem;
    }

    &::-webkit-scrollbar-track {
        background-color: #{var(--slate-gray)};
        border-radius: #{$bdrs}rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #{$backgroundColor};
        border-radius: #{$bdrs}rem;
    }
}