// colors

:root {
  --black: #000000;
  --jet-black: #0d0d0d;
  --pure-white: #ffffff;
  --slate-gray: #272727;
  --ash-gray: #404040;
  --silver-gray: #727272;
  --medium-gray: #b9b9b9;
  --light-gray: #e1e1e1;
  --dark-charcoal: #171717;
  --dusty-white: #f5f5f5;
  --ashen-gray: #838383;
  --graphite: #343434;
  --graphite-transparent: rgba(52, 52, 52, 0.8);
  --gray: #cccccc;
}

// breakpoints

$r-lg: 1200;
$r-md: 992;
$r-sm: 768;
$r-xs: 576;