.slider-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5px;

  &__btn {
    background-color: var(--silver-gray);
    border-radius: 50%;
    outline: 3px solid transparent;
    width: 7rem;
    height: 7rem;
    transition: outline-color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      mask-size: cover;
      width: 1.8rem;
      height: 1.8rem;
      background-color: var(--pure-white);
    }

    &:focus {
      outline-color: var(--pure-white);
    }

    &:active {
      outline-color: var(--ashen-gray);
      background-color: var(--jet-black);
    }
  }

  &__dots {
    display: flex;
    gap: 15px;
    justify-content: center;
  }

  &__dot {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    outline: 2px solid transparent;
    cursor: pointer;
    transition: outline-color 0.4s, background-color 0.4s;
  }
}

.events-slider-actions {
  display: flex;
  justify-content: space-between;

  @include r($r-sm) {
    flex-direction: column;
    gap: 3rem;
  }

  &__inner {
    display: flex;
    gap: 2rem;
  }

  &__scrollbar-drag {
    background-color: var(--pure-white);
    border-radius: 5rem;
  }

  &__btn {
    &:hover {
      outline-color: var(--ashen-gray);
      background-color: var(--dusty-white);
      transition: background-color 0.4s;

      &::before {
        background-color: var(--jet-black);
      }
    }
  }

  &__bar {
    width: 30rem !important;
    height: 2rem;
    background-color: var(--slate-gray);
    border-radius: 5rem;
  }
}

.gallery-slider {

  &__wrapper {
    min-height: 75.5rem;
    margin-bottom: 10rem;
    display: flex;
    align-items: center;

    @include r($r-sm) {
      min-height: 55.5rem;
      margin-bottom: 5rem;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.gallery-slider-actions {
  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
  }

  &__bar {
    width: 12rem !important;
    height: 0.5rem;
    background-color: var(--slate-gray);
    border-radius: 5rem;
  }

  &__scrollbar-drag {
    background-color: var(--pure-white);
    border-radius: 5rem;
  }

  &__btn {
    background-color: transparent;
    transition: transform 0.5s ease-in-out;

    &::before {
      width: 5.8rem;
      height: 5.8rem;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}

.swiper-slide.swiper-slide-active.gallery-slider__item--active {
  transition: 0.8s ease-in-out;
  transform: scale(1.7);
  z-index: 2;
}

.swiper-slide.gallery-slider__item--active:not(.swiper-slide-active) {
  transition: 0.8s ease-in-out;
  transform: scale(0.9);
  z-index: 1;
}